@import "../style/settings.scss";

.container {
    max-width: 1296px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.applications{
    background-color: $second-color;
    border-radius: 160px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 20px;

    .tools{
        max-width:95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $first-color;

        &-list{
            max-width: 100%;
            margin: auto;
           
            ul{
                display: flex;
                flex-wrap: wrap ; 
                justify-content: space-around;
                row-gap: 24px;
                
                .tools-list-item{
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    border: 1px solid $third-color;
                    border-radius: 1rem;
                    overflow: hidden;

                    img{
                        border-top-left-radius:  1rem;
                        border-top-right-radius:  1rem;
                        animation-name: scaleout;
                        animation-duration: .5s;
                        animation-fill-mode:forwards;
                        animation-timing-function: ease-in;

                        &:hover{
                            animation-name: scalein;
                            animation-duration: .5s;
                            animation-fill-mode:forwards;
                            animation-timing-function: ease-out;
                        }

                    }

                    &-text{
                        padding: 1.25rem 2rem;
                        border-top: 1px solid $third-color;
                        height: 118px;
                        z-index: 1;
                        background-color: $second-color;
                        
                        h3{
                            margin-bottom: .75rem;
                            font-weight: $font-bold;
                        }
                        p{
                            font-size: $smallest-font-size;
                            line-height: $line-height-large;
                            color: #525252;
                        }
                    }

                    &-tag{
                        border-top: 1px solid $third-color;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1.25rem 2rem;
                        p{
                            cursor: pointer;}
                        i{
                            font-size: $small-font-size;
                            cursor: pointer;
                        }
                    }

                }
            }
        }


    }

}
